<p style="color: green"><%= notice %></p>
<div class="flex-col">
<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article), class:"text-orange-600 underline hover:text-orange-700" %> |
  <%= link_to "Back to articles", articles_path , class:"text-orange-600 underline hover:text-orange-700"%>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>

</div>